:root{
  --smoke: #2e4054;
  --wine: #cc274c;
  --dark-smoke:#6a7285;
  --light-sky:#bed2e0;
  --darkish-sky:#bed2e040;
  --lemon: #ffeea6;
  --sky-blue: #87ceeb;
}
*{box-sizing:border-box;}
body{
  font-family:Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  background-color: var(--smoke);
  color: var(--light-sky);
  margin:0;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10px;
}
section ul{
  padding-left: 25px;
  list-style-type:square;
  line-height: 1.3;
}
section h2{
  border-bottom: var(--wine) 1px solid;
}
p{line-height: 1.5;}

.no-padding{padding: 0px;}
.no-border{border:0px;}
.no-margin{margin: 0;}
.align-right{text-align: right;}
.align-left{text-align: left;}
.centered{text-align: center;}
header{padding:20px;text-align:center;}
.sticky{
  display: block;
  width: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--wine);
  color: whitesmoke;
}
.half{
  width: 40%;
  padding: 0px 0px 0px 10px;
  border: 0px;  
}
.counter{
  width: 60%;
  padding: 0px 10px 0px 0px;
  border: 0px;
}
.top-text{
  font-size: small;
  margin-top: -18px;
}
nav.top-menu{
  /*display: block;*/
  width: 100%;
  box-sizing: inherit;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
a{text-decoration: none;color: var(--light-sky);}
.inline-block{
  display: inline-block;
  vertical-align: top;
}

ul{list-style-type: none;}
ul, li{margin: 0px;padding:5px}
.large{font-size: 40px;font-weight: 200;}
.title{font-weight: bold;}
#radar_img{
  position: relative;
  width: 550px;
  height: 550px;
  left: 20px;
  top: 1px;
  padding: 10px 0px;
  background-color: #4784bf !important;
}
#radar_img img{
  position: absolute;
  top: 0px;
  left: 0px;
}
#radar_img h4{
  position: absolute;
  bottom: 1px;
  right: 0px;
  margin: 0;
}
#radar_img div{
  width: 520px;
  height: 500px;
}
#weather_details, #currDate{/*#curr_weather*/
  background-color:#bed2e030;
}
#currDate h3{margin-top: 0px;}
#curr_weather{
  background-position-y: bottom;
  /*background-position-x: center;*/
  background-repeat: no-repeat;
}
#this_place{margin-top: 0px;}
.col4{
  width:25%;
  float: left;
  text-align: center;
}
#weather_details .column3{height: 220px;padding:25px;}
.column3{
  width: 33.3%;
  border:0;
}
.column3 p{font-size: medium;}
/*2 columns*/
.column,.col-date{
  width: 50%;border:0px;text-align: center;
}
.column80{width:80%;}
.column20{width:20%;}
.column-left{width: 8%;}
.column-right{width: 84%;}
.column-third{width: 8%;}
.float-left{float: left;}
.outer{
  width: 100%;
  height: 480px;
  overflow-y: hidden;
}
.outer_div{
  width: 95vw;
  height: 584px;
  overflow-y: hidden;
}
.inner{width: 100%;height: 480px;}
.inner_div{width: 100%;height: 584px;}
#mainPlot{
  display:block;padding: 0px;
  width: 100%;height: 100%;}
.row{text-align:center;}
.row:after{
  content:"";
  display:table;
  clear:both;
}
.align-left{text-align: left;}
.align-right{text-align: right;}
.bottom-left{
  border:0px;
  position:absolute;
  top:50%;/*8px;*/
  left:50%;/*16px;*/
  transform:translate(-50%,-50%);
}
#forecaster .row, #quake_list .row{
  /*border-bottom: 1px dashed var(--light-sky);*/
  background-color: var(--darkish-sky);
  margin-bottom: 8px;
  border-radius: 8px;
}
.row-date{
  background: none;
  margin-top: 10px;
}
#forecaster .row p, #forecaster .row h2{margin: 0;}

panel2,.flip{
  font-size:16px;
  padding:10px;
  text-align:center;
  background-color:var(--smoke);
  color:whitesmoke;
  border:solid 1px var(--wine);
  margin:auto;
}
#panel2{display:none;}

.clearfix::after{
  content:"";
  clear:both;
  display:table;
}
.clearfix{padding: 10px;}
/*SVG .highlight{fill: var(--wine);}*/
/*.bar{fill:var(--light-sky)30}*/
svg g{color:var(--light-sky);}
.domain, svg line{stroke: var(--light-sky);}

#leftAxis text, #mainPlot .tick text, #rightAxis text{
  fill:var(--lemon);
  font-size: 12px;
}
/*.date_axis text, .spot_num text{fill:var(--lemon);}*/
.txtTemp,.txtWind,.txtWindDir{fill:whitesmoke;}
.tempAxis text{fill:var(--wine);}
.txtRain{fill: var(--sky-blue);}

.progress-ring-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.value {
  position: relative;
  bottom: 150px;
  left: 0px;
  color: var(--light-sky);
  text-align: center;
  border: 0px;
}
button{
  background-color:var(--light-sky);
  color:var(--smoke);
  text-align:center;
}
.mySNS{padding:5px;}
.copy-left{
  display:inline-block;
  text-align:right;
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
}
.no-desktop{display: none;}
/*Responsive layout to stack cols on top of each other
@media only screen and (max-width:620px){*/
@media (max-width: 700px){
  .no_mobil{display: none;}
  header{padding: 0px;}
  header img{margin:0;width: 40vh;}
  .sticky{position: inherit;}
  .column,.column80,.column20{
    width:100%;/*text-align: justify;*/
  }
  /*#sun-pos{background-size: cover;}*/
  #nav-menu{display: block;}
  nav.menu{
    bottom:0;
    position: -webkit-sticky;
    position: sticky;
    height: 56px;
    z-index: 2000;
    background-color: var(--light-sky);
  }
  nav.menu ul{  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav.menu ul li a{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: .8rem;
  }
  .link-on{color: var(--wine);}
  .link-off{color: var(--smoke);}
  nav.menu ul li{flex: 1;}
  nav.menu ul li a img{width: 1.15rem;height: 1.15rem;}
  #radar_img{
    left: 0px;
    width: 100vw;
    height: 110vw;
  }
  #radar_img div{
    width: 100vw;
    height: 95vw;
  }
  .outer{width: auto;/*320px;*/  overflow-x: auto;  }
  .large{font-size: 40px;}
  .middle{font-size: 18px;}
  .column-left{margin: 0px 0px 0px -8px;}
  .column-third{margin: 0px -35px 0px 0px;}
  #weather_details .column3{padding: 0px;}
  .column4{width: 50%;}
  .align-left,.align-right{text-align: center;}
  .hidden{display: none;}
  section ul{
    padding-left: 0px;
    list-style-type:none;
  }
  .top-menu{display: none;}
  #forecaster img{height: 48px;}
  #foreDiv div{border-bottom: 1px dashed var(--darkish-sky);}
}
