body {font-family: Tahoma, Geneva,sans-serif;}
h1,h2,h3{
    background-color:lightgrey;
    color:black;
    border-left: 6px solid green;
    width: 100%;
}
p{
    font-size: 20px;
    text-align: left;
    color:green;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    text-align: left;
    height: 50px;
    padding: 8px;
}
td:nth-child(even){background-color: #f2f2f2}
/*tr:hover{background-color: #f2f2f2}*/
th{
    background-color:#4caf50;
    color: white;
}
/*
ul{
    //border:1px solid #4caf50;
    list-style-type:none;
    margin:0;
    padding:0;//8px 16px;
    background-color:#e5e5e5;
    color:white;
    text-decoration:none;
}
li{
    text-align:center;float:right;
}
li a{background-color:#4caf50;display:block;padding:14px 16px;text-decoration:none;color:white;}
*/
.copy-left{/*it flips the text inside*/
    display:inline-block;
    text-align:right;margin:0px;
    -moz-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    transform:scaleX(-1);
    filter:FlipH;-ms-filter:"FlipH";
}
